<button (click)="setVisible()">
  {{ visible ? "Ocultar" : "Mostrar" }}
</button>

@if (visible) {
<h2>{{ title }}</h2>
@if (users != undefined && users.length > 0) {
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {
      <tr>
      <td>{{ $index + 1 }}</td>
      <td>{{ user }}</td>
    </tr>
    }
  </tbody>
</table>
}@else {
<h2>No existe registro en el Sistema</h2>
}
}@else {
  <h2>No esta disponible la pagina</h2>
}

<!--<div *ngIf="visible; else notEnable">
  <h2> {{title}} </h2>
</div>

<div *ngIf="visible">
  <h1>Iteración de elementos</h1>
  <table *ngIf="users != undefined && users.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{i+1}}</td>
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #notEnable>
  <h2>No esta disponible la pagina</h2>
</ng-template>-->
